---
title: Jetro
---
{% extends "layouts/_layout.html" %}

{% block content %}
		
	{# partial example #}
	<div class="page-wrapper">
		{% include "partials/_header.html" %}
		{% include "partials/_page-title.html" %}
		<div class="content-wrapper">
			<div class="post-feed">
				{% include "partials/_post.html" %}
				{% include "partials/_post-quote.html" %}
				{% include "partials/_post-link.html" %}
				{% include "partials/_pagination.html" %}
			</div>
			<div class="sidebar">
				{% include "partials/_sidebar.html" %}
			</div>
		</div>
	</div>


{% endblock %}
