<div class="header">
	<div class="header__container">
		<a href="#" class="header__logo">
			<div class="logo"><div class="logo__left-part">JET</div><div class="logo__right-part">RO</div></div>
		</a>
		<div class="header__nav">
			<nav class="nav">
				<a href="#" class="nav__link">HOME</a>
				<a href="#" class="nav__link">ABOUT US</a>
				<a href="#"class="nav__link is-active">BLOG</a>
				<a href="#" class="nav__link">PORTFOLIO</a>
				<a href="#" class="nav__link">CONTACT US</a>
			</nav>
		</div>
	</div>
</div>
