<div class="post">
	<div class="post__icon">
		<div class="icon-block">{{ mixins.icon('slide') }}</div>
	</div>
	<div class="preview">{% include "partials/_slider.html" %}</div>
	<div class="post__wrapper">
		<div class="informers">
			<div class="informers__date">
				<div class="informers__title">Date</div>
				<div class="informers__content"> April 15, 2012</div>
			</div>
			<div class="informers__tags">
				<div class="informers__title">Tags</div>
				<div class="informers__content">
					<a href="#" class="informers__tag">Website |</a>
					<a href="#" class="informers__tag">Desing</a>
				</div>
			</div>
			<div class="informers__comments">
				<div class="informers__title">Comments</div>
				<div class="informers__content">
					<a href="#" class="informers__counter">4</a>
				</div>
			</div>
		</div>
		<div class="post__content">
			<div class="title"><a href="#"><h2>Top  WordPress  Themes  of  2012</h2></a></div>
			<div class="text">
				<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu. </p>

				<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis.</p>
			</div>
		</div>
	</div>
</div>

<div class="delimiter"></div>
<div class="post">
	<div class="post__icon">
		<div class="icon-block">{{ mixins.icon('file') }}</div>
	</div>
	<div class="preview"><img src="img/prev.jpg" alt="" class="preview__img"></div>
	<div class="post__wrapper">
		<div class="informers">
			<div class="informers__date">
				<div class="informers__title">Date</div>
				<div class="informers__content"> April 15, 2012</div>
			</div>
			<div class="informers__tags">
				<div class="informers__title">Tags</div>
				<div class="informers__content">
					<a href="#" class="informers__tag">Website |</a>
					<a href="#" class="informers__tag">Desing</a>
				</div>
			</div>
			<div class="informers__comments">
				<div class="informers__title">Comments</div>
				<div class="informers__content">
					<a href="#" class="informers__counter">4</a>
				</div>
			</div>
		</div>
		<div class="post__content">
			<div class="title"><a href="#"><h2>Top  WordPress  Themes  of  2012</h2></a></div>
				<div class="text">
				<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu. </p>

				<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis.</p>
			</div>
		</div>
	</div>
</div>

<div class="delimiter"></div>
<div class="post">
	<div class="post__icon">
		<div class="icon-block">{{ mixins.icon('play') }}</div>
	</div>
	<div class="preview"><div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1084537" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>
	<div class="post__wrapper">
		<div class="informers">
			<div class="informers__date">
				<div class="informers__title">Date</div>
				<div class="informers__content"> April 15, 2012</div>
			</div>
			<div class="informers__tags">
				<div class="informers__title">Tags</div>
				<div class="informers__content">
					<a href="#" class="informers__tag">Website |</a>
					<a href="#" class="informers__tag">Desing</a>
				</div>
			</div>
			<div class="informers__comments">
				<div class="informers__title">Comments</div>
				<div class="informers__content">
					<a href="#" class="informers__counter">4</a>
				</div>
			</div>
		</div>
		<div class="post__content">
			<div class="title"><a href="#"><h2>Top  WordPress  Themes  of  2012</h2></a></div>
			<div class="text">
				<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu. </p>

				<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis.</p>
			</div>
		</div>
	</div>

<div class="delimiter"></div>	
</div>
