<div class="quote">
	<div class="post-icon">
		<div class="icon-block">{{ mixins.icon('quote') }}</div>
	</div>
	<div class="quote__inner" style="background-image: url(img/bgq.png)">
		<div class="quote__img">{{ mixins.icon('quote') }}</div>
		<div class="quote__text text">
          <p>Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you. </p>
      </div>
      </div>
</div>
<div class="delimiter"></div>