<div class="post">
  <div class="post__container">
    <div class="post__icon">
      <div class="icon-block">{{ mixins.icon('post') }}</div>
    </div>
    <div class="post_preview">
      {% include "partials/_slider.html" %}
    </div>
    <div class="post__inner">
      <div class="post__informers">
        <div class="post__date">
          <h4>DATE</h4>
          <p>April 15, 2012</p>
        </div>
        <div class="post__tags">
          <h4>TAGS</h4>
          <p>Website | Desing</p>
        </div>
        <div class="post__comments">
          <h4>COMMENTS</h4>
          <p>4</p>
        </div>
      </div>
      <div class="post__content">
        <div class="title">
          <h2>Top  WordPress  Themes  of  20121</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ducimus voluptas distinctio cupiditate accusantium! Eligendi dicta expedita maxime magni minima sit ex, quaerat sequi, illum itaque quae, deleniti quod optio explicabo. Facere illo fugiat excepturi impedit ea incidunt consequatur, omnis nostrum quo beatae quia dolore repellendus, est quam? Commodi, laudantium.</p>
      </div>
    </div>
    <div class="delimiter"></div>
  </div>
  <div class="post__container">
    <div class="post__icon">
      <div class="icon-block">{{ mixins.icon('post') }}</div>
    </div>
    <div class="quote">
    	<div class="quote__inner" style="background-image: url(img/bgq.png);">
      <div class="quote__img"><h2>"</h2></div>
      <div class="quote__text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, explicabo. Lorem ipsum dolor sit amet.</p></div>
      </div>
    </div>
    <div class="delimiter"></div>
  </div>
  <div class="post__container">
    <div class="post__icon">
      <div class="icon-block">{{ mixins.icon('post') }}</div>
      <div class="post__content">
        <div class="title">
          <h2>Top  WordPress  Themes  of  2012</h2>
        </div>
        <div class="subtitle"><a href="#">www.bestpsdfreebies</a></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ducimus voluptas distinctio cupiditate accusantium! Eligendi dicta expedita maxime magni minima sit ex, quaerat sequi, illum itaque quae, deleniti quod optio explicabo. Facere illo fugiat excepturi impedit ea incidunt consequatur, omnis nostrum quo beatae quia dolore repellendus, est quam? Commodi, laudantium.</p>
      </div>
    </div>
  </div>
</div>
