<div class="post-link">
	<div class="post-icon">
		<div class="icon-block">{{ mixins.icon('link') }}</div>
	</div>
	<div class="title">
        <a href=""><h2>Some  of  the  best  freebies  on  the  web</h2></a>
    </div>
    <div class="subtitle"><a href="#">www.bestpsdfreebies</a></div>
    <div class="text">
      <p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.</p>
     </div>
</div>
<div class="delimiter"></div>