<div class="widget">
	<div class="widget__title">
		<a href="#"><div class="title">About jetro</div></a>
		<div class="delimiter"></div>
	</div>
	<div class="widget__content text">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum </p>
	</div>
</div>
<div class="widget">
	<div class="widget__title">
		<a href="#"><div class="title">Categories</div></a>
		<div class="delimiter"></div>
	</div>
	<div class="widget__content text">
		<div class="widget__inner">
			<a href="#" class="wiget__category">Video (3)</a>
			<a href="#" class="wiget__category">Sports (5)</a>
			<a href="#" class="wiget__category">Media (2)</a>
			<a href="#" class="wiget__category">Entertainment (7)</a>
			<a href="#" class="wiget__category">Life (4)</a>
			<a href="#" class="wiget__category">Super Cool Stuff (8)</a>
		</div>
	</div>
</div>
<div class="widget">
	<div class="widget__title">
		<a href="#"><div class="title">Photogallery</div></a>
		<div class="delimiter"></div>
	</div>
	<div class="widget__content ">
		<div class="gallery">
			<a href="img/prev.jpg" class="gallery__item js-gallery"><img src="img/prev.jpg" alt=""></a>
			<a href="img/slide.jpg" class="gallery__item js-gallery"><img src="img/slide.jpg" alt=""></a>
			<a href="img/slide.jpg" class="gallery__item js-gallery"><img src="img/slide.jpg" alt=""></a>
			<a href="img/prev.jpg" class="gallery__item js-gallery"><img src="img/prev.jpg" alt=""></a>
			<a href="img/slide.jpg" class="gallery__item js-gallery"><img src="img/slide.jpg" alt=""></a>
			<a href="img/prev.jpg" class="gallery__item js-gallery"><img src="img/prev.jpg" alt=""></a>
			<a href="img/slide.jpg" class="gallery__item js-gallery"><img src="img/slide.jpg" alt=""></a>
			<a href="img/prev.jpg" class="gallery__item js-gallery"><img src="img/prev.jpg" alt=""></a>

		</div>
	</div>
</div>