<div class="sidebar-block">
	<div class="sidebar-block__title">
		<div class="sidebar-block__title-text"><a href="#">ABOUT JETRO</a></div>
		<div class="delimiter"></div>
	</div>
	<div class="sidebar-block__content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis laboriosam consequatur ab reprehenderit eveniet inventore cumque tempore, a pariatur quod quos, commodi temporibus rerum voluptatem.</p>
	</div>
	<div class="sidebar-block__title">
		<div class="sidebar-block__title-text"><a href="#">CATEGORIES</a></div>
		<div class="delimiter"></div>
	</div>
	<div class="sidebar-block__content">
		<a href="#">Video(3)</a>
		<a href="#">Sports(5)</a>
		<a href="#">Media(2)</a>
		<a href="#">Entertainment(7)</a>
		<a href="#">Life(4)</a>
		<a href="#">Super Cool Stuff (8)</a>
	</div>
		<div class="sidebar-block__title">
		<div class="sidebar-block__title-text"><a href="#">PHOTO GALLERY</a></div>
		<div class="delimiter"></div>
	</div>
		<div class="sidebar-block__content">
		<div class="gallery">
			<div class="gallery__item"><img src="img/gallery.jpg" alt=""></div>
			<div class="gallery__item"><img src="img/gallery.jpg" alt=""></div>
			<div class="gallery__item"><img src="img/gallery.jpg" alt=""></div>
			<div class="gallery__item"><img src="img/gallery.jpg" alt=""></div>
			<div class="gallery__item"><img src="img/gallery.jpg" alt=""></div>
			<div class="gallery__item"><img src="img/gallery.jpg" alt=""></div>
			<div class="gallery__item"><img src="img/gallery.jpg" alt=""></div>
			<div class="gallery__item"><img src="img/gallery.jpg" alt=""></div>
		</div>
	</div>
</div>