.header
	+bebas
	margin-bottom: 17px
	margin-top: 14px	
	display: flex
	justify-content: space-between 
	align-items: center

.logo
	pading-left: 10px
	font-size: 36px
	display: flex
	&__left-part
		color: #e8603c
	&__right-part
		color: #f3af9d
.nav
	padding-top: 5px		
	&__link
		color: #b9b9b9
		&:not(:last-child)
			margin-right: 26px
		&:hover
			color: #e8603c	
.is-active
	color: #e8603c