.post
	&__container
		position: relative
		margin-bottom: 55px
	&__icon
		position: absolute
		margin-left: -85px
		top: 0
		left: 0
	&__inner
		display: flex	

.icon-block
	height: 75px
	width: 75px
	background-color: red
