.sidebar
	width: percentage(220/940)
.widget
	margin-bottom: 35px
	&__title
		display: flex
		align-items: center
		margin-bottom: 18px
		color: #e8603c
		font-size: 14px
	&__content
		p
			line-height: 1.33
		a
			color: #e8603c

	.delimiter
		margin-left: 16px	
	&__inner
		display: flex
		flex-direction: column
		a
			+helvetica
			color: #000	
			font-size: 12px
			line-height: 1.33

.gallery
	display: grid
	grid-template-columns: auto auto auto auto