.sidebar-block
	width: percentage(220/940)

	&__title
		margin-bottom: 17px
		display: flex
		align-items: center
	&__title-text
		margin-right: 20px	


	&__categories
		display: flex
		flex-direction: column
		a
			+helvetica
			display: inline-block
			margin-bottom: 10px
			font-size: 12px
			color: #000	
	&__content
		margin-bottom: 17px	
	.delimiter
		margin-bottom: 0px		



.gallery
	display: grid
	grid-template-columns: auto auto auto auto
