.icon-arrow {
  width: 0.69em;
  height: 1em;
  fill: #FFF;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-post {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.icon-quote {
  width: 1.32em;
  height: 1em;
  fill: #231F20;
}
